<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="ie-stand">
    <style>

    </style>
    <script type="text/javascript">

    </script>


    <title>人脸识别</title>
    <link href="./static/css/zzj_css.css" type="text/css" rel="stylesheet">
    <link href="./static/css/keyboard.css" type="text/css" rel="stylesheet">
    <link href="./static/css/jquery-ui.min.css" type="text/css" rel="stylesheet">
    <style type="text/css">
        .err {
            position: absolute;
            left: 200px;
            top: 100px;
            font-family: "微软雅黑";
            font-size: 30px;
            color: red;
        }

        .zzj_login_wrap {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .zzj-face-box {
            width: 1250px;
            height: 900px;
            background: rgba(0, 0, 0, 0.8);
            border-radius: 10px;
        }

        .zzj-face-box-img {
            width: 900px;
            height: 500px;
            margin: 54px auto;
            background: #fff;
            border-radius: 10px;
            overflow: hidden;
        }

        /* 正在检测 */
        .zzj-face-box-tip1 {
            display: table;
            padding: 8px 24px;
            background: rgb(213, 140, 29);
            color: #fff;
            border-radius: 10px;
            margin: auto;
            font-size: 24px;
            font-family: "微软雅黑";
        }

        /* 检测成功 */
        .zzj-face-box-tip2 {
            display: table;
            padding: 8px 24px;
            background: rgb(15, 173, 41);
            color: #fff;
            border-radius: 10px;
            margin: auto;
            font-size: 24px;
            font-family: "微软雅黑";
        }

        .zzj-face-box-btn {
            display: table;
            width: 376px;
            height: 70px;
            border-radius:10px;
            text-align:center;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(#3ba1e9, #310fca);
            color: #fff;
            margin: auto;
            font-size: 48px;
            font-family: "微软雅黑";
            margin-top: 84px;
        }
    </style>
</head>

<body style="">
    <div class="zzj_login_wrap">
        <div class="zzj-face-box">
            <!-- 人脸 -->
            <div class="zzj-face-box-img" id="cam">
                <!-- <video src="" id="myVideo" style="width: 100%;"></video> -->
                <img src="" id="myImg" style="width: 100%;"></img>
            </div>
            <!-- 提示信息 -->
            <span class="zzj-face-box-tip1" id="faceTip">
                正在检测......
            </span>
            <!-- 按钮 -->
            <span class="zzj-face-box-btn" id="faceBtn" style="display: none;" onclick="face_gather();">采 集</span>
            <span class="zzj-face-box-btn" id="faceBtns" style="display: none;" onclick="face_back();">返 回</span>
            <a href="javascript:;" onclick="login_change('1');" class="login_a" style="position: unset;margin-left: 40px;">返回首页</a>
        </div>
    </div>
    <script type="text/javascript" src="./static/js/jquery-1.10.2.min.js"></script>
    <!-- <script  type="text/javascript" src="./static/jsjquery.webcam.js"></script> -->
    <script type="text/javascript" src="./static/js/global.js"></script>
    <script language="javascript" type="text/javascript" src="./static/js/md5.js"></script>
    <script language="javascript" type="text/javascript" src="./static/js/jquery.keyboard.js"></script>
    <script>
        
        // 人脸识别
        var wsaddr = "ws://localhost:8088/rxtx/websocket/test-4";
        var wsaddr2 = "ws://localhost:8088/rxtx/websocket/test-4";
        var websocket;
        // faceValue为websoket传入的值，0为检测失败，1为检测成功
        var faceValue = 0;
        var userNo = getCookie("userInfo") ? JSON.parse(getCookie("userInfo")).userName : ''
        var userInfo;
        var userToken;
        if(getCookie("faceShow") * 1 != 1){
            checkToken();
            userToken = getCookie("userToken");
            userInfo = JSON.parse(getCookie("userInfo"));
        }

        function StartWebSocket(wsUri) {
            websocket = new WebSocket(wsUri);
            websocket.onopen = function (evt) {
                onOpen(evt);
            };
            websocket.onclose = function (evt) {
                onClose(evt);
            };
            websocket.onmessage = function (evt) {
                onMessage(evt);
            };
            websocket.onerror = function (evt) {
                onError(evt);
            };
        }

        function onOpen(evt) {
            send('{"event":"1"}');
            doFaceTest();
            console.log("faceShow:"+getCookie("faceShow"));
            if(getCookie("faceShow") * 1 == 1) {
                
                //  扫脸登录
                send('{"event":"3"}');
            }
            
        }

        function onClose(evt) {
            send('{"event":"9"}');
            websocket.close();
        }
        function login_change(flag) {
          electron.loadPage('./src/login.html')

        }
        function onMessage(evt) {
            
            //console.log(evt.data);
            var json = JSON.parse(evt.data);


            if (typeof evt.data == "string") {
                showMsg(json);
            } else {
                alert("非文本消息");
            }
        }

        function onError(evt) {
            //error log
            websocket.close();
        }


        function doFaceTest() {
            console.log("doFaceTest===Start");
            interval = setInterval('timerFace()', 2000);
        }

        function timerFace() {
            if(faceValue == 0 && getCookie("faceShow") * 1 != 1){
                console.log("send event 4");
                send('{"event":"4"}');
            }
        }

        function send(msg) {
            websocket.send(msg);
        }
            
        // 打开人脸识别
        StartWebSocket(wsaddr);

        function showMsg(json){
            switch(json.event){
                case "1":
                    $("#myImg").attr("src",json.message);
                    break;
                case "2":
                    if(json.message == "undefined" ||json.message == ""){
                        $("#faceTip").html("验证失败,请校准人脸!!");
                        send('{"event":"2","userNo":' + userNo + '}');
                    }else{
                        face_register(json.message);
                    }
                    break;
                case "3":
                    if(json.message == "undefined" ||json.message == ""){
                        $("#faceTip").html("验证失败,请校准人脸!!");
                        send('{"event":"3"}');
                    }else{
                        face_compare(json.message);
                    }
                    break;
                case "4":
                    console.log("=====event4=====");
                    console.log(json.message);
                    // websocket返回的值赋值
                    faceValue = (json.message) * 1
                    // 如果返回的是0则失败，1为成功
                    if (faceValue == 0) {
                        $("#faceTip").html("正在检测");
                    } else {
                        $("#faceTip").html("已检测到人脸");
                        $("#faceBtn").css("display", "block");
                        $("#faceBtns").css("display", "none");
                    }
                    break;
                default:
                    break;
            }

        }

        // function displayContent(msg) {
        //     console.log(new Date().toLocaleString() + "--收到的消息-->" + msg);
        //     // 获取人像
        //     if (faceValue == 0) {
        //         // websocket返回的值赋值
        //         faceValue = msg * 1
        //         // 如果返回的是0则失败，1为成功
        //         if (faceValue == 0) {
        //             $("#faceTip").html("正在检测");
        //         } else {
        //             $("#faceTip").html("已检测到人脸");
        //             $("#faceBtn").css("display", "block");
        //             $("#faceBtns").css("display", "none");
        //         }
        //     } else {
        //         if (getCookie("faceShow") * 1 == 1) {
        //             // 主页进入
        //             // 打开对比
        //             if (msg * 1 != 0) {
        //                 // 人脸对比
        //                 $.ajax({
        //                     url: "/zzj/user/faceCompare",
        //                     type: "GET",
        //                     dataType: "json",
        //                     data: JSON.stringify({
        //                         "id": msg
        //                     }),
        //                     beforeSend: function (request) {
        //                         request.setRequestHeader("Content-Type", "application/json");
        //                     },
        //                     success: function (res) {
        //                         console.log(res)
        //                         if (res.code == 0) {
        //                             console.log("对比成功");
        //                             $("#faceTip").html("校验成功");
        //                             location.href = "/zzj/index.html";
        //                         } else {
        //                             console.log("对比失败");
        //                         }
        //                     },
        //                     error: function () {
        //                         console.log("...")
        //                     }
        //                 });
        //                 setCookie("faceShow", "")
        //             }
        //         } else {
        //             // 点击采集人脸
        //             if (msg * 1 != 0) {
        //                 $.ajax({
        //                     url: "/zzj/user/faceRegister",
        //                     type: "POST",
        //                     dataType: "json",
        //                     data: JSON.stringify({
        //                         "userNo": userNo,
        //                         "faceInfo": msg
        //                     }),
        //                     beforeSend: function (request) {
        //                         request.setRequestHeader("Content-Type", "application/json");
        //                     },
        //                     success: function (res) {
        //                         console.log(res)
        //                         if (res.code == 0) {
        //                             console.log("录入成功");
        //                             // 切换按钮
        //                             $("#faceBtns").css("display", "block");
        //                             $("#faceBtn").css("display", "none");
        //                         } else {
        //                             console.log("接口失败");
        //                         }
        //                     },
        //                     error: function () {
        //                         console.log("...")
        //                     }
        //                 });
        //             }

        //         }
        //     }

        // }

        function face_register(msg){
            $.ajax({
                    url: "http://nocm.wzmtr.com:2443/zzj/user/faceRegister",
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify(msg),
                    beforeSend: function (request) {
                        request.setRequestHeader("Content-Type", "application/json");
                        request.setRequestHeader("Authorization", userToken);
                    },
                    success: function (res) {
                        console.log(res)
                        if (res.code == 0) {
                            console.log(" 录入成功");
                            $("#faceTip").html(" 人脸录入成功");
                            $("#faceBtns").css("display", "block");
                            $("#faceBtn").css("display", "none");
                            userInfo.faceFlag = "1";
                            setCookie("userInfo", JSON.stringify(userInfo));
                            // location.href = "/zzj/index.html";
                            electron.loadPage('./src/index.html')
                        } else {
                            $("#faceTip").html("录入失败,请校准人脸!!");
                            console.log("录入失败");
                        }
                    },
                    error: function () {
                        console.log("...")
                    }
                });
        }

        function face_compare(msg){
            console.log("msg:");
            console.log(msg)
            if (msg * 1 != 0) {
                // 人脸对比
                $.ajax({
                    url: "http://nocm.wzmtr.com:2443/zzj/user/faceCompare?id="+msg.userNo,
                    type: "GET",
                    beforeSend: function (request) {
                        request.setRequestHeader("Content-Type", "application/json");
                    },
                    success: function (res) {
                        console.log(res)
                        if (res.code == 0) {
                            console.log("对比成功");
                            setCookie("faceShow", "");
                            $("#faceTip").html("校验成功");
                            console.log("token:" + res.data);
                            setCookie("userToken", res.data, 7);
                            // location.href = "/zzj/index.html";
                            electron.loadPage('./src/index.html')
                        } else {
                            console.log("对比失败");
                        }
                    },
                    error: function () {
                        console.log("...")
                    }
                });
                setCookie("faceShow", "")
        }
    }
        // 点击采集 打开event 2
        function face_gather() {
            // 采集
            send('{"event":"2","userNo":' + userNo + '}');
        }

        // 点击返回
        function face_back() {
            // location.href = "/zzj/index.html";
            electron.loadPage('./src/index.html')
        }
    </script>


</body>

</html>