<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="ie-stand">
    <style>
        input::-ms-clear {
            display: none;
        }
    </style>
    <script type="text/javascript">
        top.fingerprintFlag = false;
        top.fingerReg = false;
        var ctx = '/zzj';
        try {
            $(function () {
                doFluidLayout();
                $("input").each(function (i) { //防止回车提交表单
                    $(this).bind("keypress", function (e) {
                        if (e.keyCode == 13) {
                            return false;
                        }
                    })
                });
            });
        } catch (e) {}
        //con,clearFlag是否清空选项
        function refreshGrid(con, clearFlag) {
            if (!con)
                con = "dataTable";
            try {
                var mfs = document.getElementsByName("mainframe");
                if (mfs.length <= 0)
                    mfs = window.parent.document.getElementsByName("mainframe");
                if (mfs.length > 0) {
                    $.each(mfs, function (i, mf) {
                        if (mf.contentWindow.$) {
                            var tempGrid = mf.contentWindow.$("#" + con);
                            if ($.isFunction(tempGrid.datagrid)) {
                                tempGrid.datagrid('reload');
                                if ("undefined" == typeof clearFlag || clearFlag) {
                                    tempGrid.datagrid('clearSelections');
                                }
                            }
                        }
                    });
                } else {
                    $("#" + con).datagrid('reload');
                    $parent("#" + con).datagrid('reload');
                    if ("undefined" == typeof clearFlag || clearFlag) {
                        $("#" + con).datagrid('clearSelections');
                        $parent("#" + con).datagrid('clearSelections');
                    }
                }
            } catch (e) {
                var tab = $('#tabs').tabs('getSelected');
                var mfs = $("iframe", tab);
                $.each(mfs, function (i, mf) {
                    if (mf.contentWindow.$) {
                        mf.contentWindow.$("#" + con).datagrid('reload');
                        if ("undefined" == typeof clearFlag || clearFlag) {
                            mf.contentWindow.$("#" + con).datagrid('clearSelections');
                        }
                    }
                });
            }

        }
    </script>
    <!-- some css fix -->
    <!--[if gte IE 8]>
    <style type="text/css">
    .leftmenu dd span{
        float:none;
    }
    .leftmenu .title{
        height:35px;
    }
    </style> 
    <![endif]-->

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="./static/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="./static/css/my97.css">
    <link rel="stylesheet" type="text/css" href="./static/css/icon.css">
    <script type="text/javascript" src="./static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="./static/js/jquery.easyui.min.js"></script>
    <link rel="stylesheet" href="./static/css/default.css">
    <script type="text/javascript" src="./static/js/artDialog.source.js"></script>
    <script type="text/javascript" src="./static/js/iframeTools.source.js"></script>
    <script type="text/javascript" src="./static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="./static/js/extends.js"></script>
    <script type="text/javascript" src="./static/js/common.js"></script>
    <script type="text/javascript" src="./static/js/cross_browser_fix.js"></script>
    <script type="text/javascript" src="./static/js/global.js"></script>
    <title>自助机</title>
    <link href="./static/css/zzj_css.css" rel="stylesheet" type="text/css">

    <script>
        checkToken();

        var userInfo;
        var dutyInfo;
        var socket;
        var threecheck = 0;
        var userToken = getCookie("userToken");
        getUserInfo();
        getUserDuty();

        function getUserInfo() {
            $.ajax({
                url: "/zzj/user/info",
                type: "GET",
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader("Content-Type", "application/json");
                    request.setRequestHeader("Authorization", userToken);
                },
                success: function (res) {
                    console.log(res)
                    if (res.code == 0) {
                        userInfo = res.data;
                        setCookie("userInfo", JSON.stringify(userInfo));

                        // 判断当前用户是否采集了人脸
                        if (userInfo.faceFlag == 0) {
                            setCookie("faceShow", "");
                            // 未采集跳转到人脸采集页面
                            location.href = "/zzj/faceBind.html";
                        } else {
                            // 已采集刷新当前页面
                            showMain(userInfo);
                        }
                    } else {
                        console.log("无此用户信息");
                    }
                },
                error: function () {
                    console.log("...")
                }
            });
        }

        function getUserDuty() {
            $.ajax({
                url: "/zzj/user/dutyInfo",
                type: "GET",
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader("Content-Type", "application/json");
                    request.setRequestHeader("Authorization", userToken);
                },
                success: function (res) {
                    console.log(res)
                    if (res.code == 0) {
                        dutyInfo = res.data;
                        setCookie("dutyInfo", JSON.stringify(dutyInfo));
                        if (dutyInfo == null) {
                            $("#btn_on").hide();
                            $("#btn_off").hide();
                            return;
                        }

                        if (dutyInfo.attendFlag == 1) {
                            $("#btn_on").hide();
                        } else {
                            $("#btn_on").show();
                        }

                        if (dutyInfo.quitFlag == 1) {
                            $("#btn_off").hide();
                        } else if (dutyInfo.attendFlag == 1 && dutyInfo.quitFlag == 0) {
                            $("#btn_off").show();
                        }
                        return;
                    } else {
                        $("#btn_on").hide();
                        $("#btn_off").hide();
                    }
                },
                error: function () {
                    console.log("...")
                }
            });
        }

        function showMain(userInfo) {
            console.log("渲染用户登录页面")
            var now = new Date();
            console.log("当前时间:" + now);
            var timeArea = now.getHours() < 12 ? "上午" : "下午";
            threecheck = userInfo.threeCheck;
            var html_tpl = '<div class="subpage_main_in">' +
                '    <div class="text1">' +
                '        <p>欢迎<span class="bold pad10">{{name}}</span></p>' +
                '        <p>现在是{{date}} {{timeArea}}</p>' +
                '        <p>{{threeMsg}}</p>' +
                '        <p>您的职位是【<span class="bold">{{roleName}}</span>】,请选择您所需要的服务:</p>' +
                '    </div>' +
                '</div>';
            html_tpl = html_tpl.replace("{{name}}", userInfo.userViewName);
            html_tpl = html_tpl.replace("{{date}}", now.getFullYear() + "年" + (now.getMonth() + 1) + "月" + now
            .getDate() + "日");
            html_tpl = html_tpl.replace("{{timeArea}}", timeArea);
            if (trimComma(userInfo.positionNameStr) == '司机') {
                if (threecheck == 0) {
                    html_tpl = html_tpl.replace("{{threeMsg}}", "您还未完成今日的三交三问");
                    $("#btn_threecheck").show();
                } else {
                    html_tpl = html_tpl.replace("{{threeMsg}}", "您已完成今日的三交三问");
                    $("#btn_threecheck").hide();
                }
            } else {
                html_tpl = html_tpl.replace("{{threeMsg}}", "");
                $("#btn_threecheck").hide();
            }

            html_tpl = html_tpl.replace("{{roleName}}", trimComma(userInfo.positionNameStr));
            $("#zhongxin").html(html_tpl);
            $("#zhongxin").show();
            $("#zhongxin2").hide();
        }
    </script>
</head>

<body style="">
    <div class="zzj_subpage_wrap">
        <div class="top">
            <div class="top_left">温州市域轨道交通乘务自助终端系统</div>
        </div>
        <div class="subpage_main">
            <div id="zhongxin2" class="zzj_loading" style="display:none"></div>
            <div id="zhongxin"></div>
            <input type="hidden" name="userId" id="userId" value="">
            <input type="hidden" id="threecheck" value="0">
            <input type="hidden" id="role" value="">
            <input type="hidden" id="department" value="">
            <input type="hidden" id="userName" value="">
            <div class="btn_box bottom_btn_box">
                <input type="button" class="btn" id="btn_threecheck" value="三交三问">
                <input type="button" class="btn" id="btn_on" onclick="onDuty()" value="出勤">
                <input type="button" class="btn" id="btn_off" style="display:none;" onclick="offDuty()" value="退勤">
                <input type="button" class="btn" id="btn_quit" onclick="logout()" value="退出系统">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#btn_threecheck").click(function (e) {
            if (threecheck == 1) {
                $parent.messager.alert('提示', '你已经完成了今日的三交三问！', 'info');
                return;
            }
            location.href = "/zzj/three.html";
        })

        // 出勤
        function onDuty() {

            if (threecheck != 1 && trimComma(userInfo.positionNameStr) != "司机长" && trimComma(userInfo
                .positionNameStr) != "指导司机") {
                $parent.messager.alert('提示', '请先完成今日的三交三问！', 'info');
                return;
            } else {
                location.href = "/zzj/duty.html";
                $("#zhongxin").hide();
                $("#zhongxin2").show();
            }
        }

        // 退勤
        function offDuty() {
            location.href = "/zzj/off_duty.html";
            $("#zhongxin").hide();
            $("#zhongxin2").show();

        }

        // 登出
        function logout() {
            clearCookie("userToken");
            clearCookie("userInfo");
            clearCookie("dutyInfo");
            location.href = "/zzj/login.html";
        }
    </script>
</body>

</html>