<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="ie-stand">
    <style>
        input::-ms-clear { display: none; }
        .station-list{
            font-size: 18px;
            list-style: none;
            background: #fff;
            width: 172px;
            margin: auto;
            display:none;
        }
        .station-list li {list-style-type: none;}
    </style>
    <script type="text/javascript">
    top.fingerprintFlag=false;  
    top.fingerReg=false;
        var ctx = '/wzcs';
      try {
        $(function() {
          doFluidLayout();
          $("input").each(function(i){//防止回车提交表单
              $(this).bind("keypress",function(e){
                  if(e.keyCode==13){
                    return false;
                  }
              })
          });
        });
      } catch (e) {
      }
      //con,clearFlag是否清空选项
      function refreshGrid(con, clearFlag) {
        if (!con)
          con = "dataTable";
        try {
          var mfs = document.getElementsByName("mainframe");
          if (mfs.length <= 0)
            mfs = window.parent.document.getElementsByName("mainframe");
          if (mfs.length > 0) {
            $.each(mfs, function(i, mf) {
              if (mf.contentWindow.$) {
                var tempGrid = mf.contentWindow.$("#" + con);
                if($.isFunction(tempGrid.datagrid)){
                    tempGrid.datagrid('reload');
                    if ("undefined"==typeof clearFlag || clearFlag) {
                        tempGrid.datagrid('clearSelections');
                    }
                }
              }
            });
          } else {
            $("#" + con).datagrid('reload');
            $parent("#" + con).datagrid('reload');
            if ("undefined"==typeof clearFlag || clearFlag) {
              $("#" + con).datagrid('clearSelections');
              $parent("#" + con).datagrid('clearSelections');
            }
          }
        } catch (e) {
          var tab = $('#tabs').tabs('getSelected');
          var mfs = $("iframe", tab);
          $.each(mfs, function(i, mf) {
            if (mf.contentWindow.$) {
              mf.contentWindow.$("#" + con).datagrid('reload');
              if ("undefined"==typeof clearFlag || clearFlag) {
                mf.contentWindow.$("#" + con).datagrid('clearSelections');
              }
            }
          });
        }

      } 
    </script>
    <!-- some css fix -->
    <!--[if gte IE 8]>
    <style type="text/css">
    .leftmenu dd span{
        float:none;
    }
    .leftmenu .title{
        height:35px;
    }
    </style> 
    <![endif]-->

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="./static/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="./static/css/my97.css">
    <link rel="stylesheet" type="text/css" href="./static/css/icon.css">
    <script type="text/javascript" src="./static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="./static/js/jquery.easyui.min.js"></script>
    <link rel="stylesheet" href="./static/css/default.css">
    <script type="text/javascript" src="./static/js/artDialog.source.js"></script>
    <script type="text/javascript" src="./static/js/iframeTools.source.js"></script>
    <script type="text/javascript" src="./static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="./static/js/extends.js"></script>
    <script type="text/javascript" src="./static/js/cross_browser_fix.js"></script>
    <script type="text/javascript" src="./static/js/mobileSelect.js" ></script>
    <script type="text/javascript" src="./static/js/global.js"></script>
    <link href="./static/css/zzj_css.css" rel="stylesheet" type="text/css">
    <title>司机报单</title>
    <link href="./static/css/mobileSelect.css" rel="stylesheet" type="text/css">
    
    <script>
        checkToken();
        var userToken = getCookie("userToken");
        var userInfo;
        var dutyInfo;
        var driveArr = [];
        var orderInfo = {};
        var stringRunList = "";
        var startRunCrossingroad;
        var listIndex = 0;
        var list = {};
        var numArr1=['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24'];
        var numArr2=['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','41','42','43','44','45','46','47','48','49','50','51','52','53','54','55','56','57','58','59','60'];
        var nextDutyInfo;
        userInfo = JSON.parse(getCookie("userInfo"));
        dutyInfo = JSON.parse(getCookie("dutyInfo"));
        nextDutyInfo = JSON.parse(getCookie("nextDutyInfo"));

        $(document).ready(function() {
            renderUserInfo(userInfo,dutyInfo);
            getDutyTrain(dutyInfo);
        });
        $(document).on("click", ".station-item", function(){ 
            console.log("==station-item==");
            var data_id = $(this).attr("data-id");
            var data_name = $(this).attr("title");
            console.log(data_id);
            console.log(data_name);
            $(this).parent().parent().parent().find(".startStation").attr("data-id",data_id);
            $(this).parent().parent().parent().find(".startStation").val(data_name);
            $(this).parent().parent().parent().find(".endStation").attr("data-id",data_id);
            $(this).parent().parent().parent().find(".endStation").val(data_name);
            $(this).parent().parent().hide();
        });

        function renderUserInfo(userInfo,dutyInfo){
            var userTpl =   '<table width="90%" border="0" cellpadding="0" cellspacing="15" style="margin:auto;background: #FFF;">'+
                            '    <tr>'+
                            '        <td colspan="8">'+
                            '          交路：<span style="text-decoration：underline;">{{crossingroadName}}</span>'+
                            '          日期：<span style="text-decoration：underline;">{{dutyDate}}</span>'+
                            '          星期: <span style="text-decoration：underline;">{{week}}</span>'+
                            '         时刻表: <span style="text-decoration：underline;">{{tableName}}</span>'+
                            '        </td>'+
                            '    </tr>'+
                            '    <tr>'+
                            '        <td>姓名：</td>'+
                            '        <td>{{userViewName}}</td>'+
                            '        <td>工号：</td>'+
                            '        <td>{{userName}}</td>'+
                            '        <td>班组：</td>'+
                            '        <td>{{teamName}}</td>'+
                            '        <td>出勤时间：</td>'+
                            '        <td>{{attentime}}</td>'+
                            '    </tr>'+
                            '    <tr>'+
                            '        <td>线别：</td>'+
                            '        <td>{{lineName}}</td>'+
                            '        <td>股道：</td>'+
                            '        <td></td>'+
                            '        <td>退勤时间：</td>'+
                            '        <td>{{offtime}}</td>'+
                            '        <td>派班人员：</td>'+
                            '        <td>{{dispatchUser}}</td>'+
                            '    </tr>'+
                            '</table>';
            var a = ["日", "一", "二", "三", "四", "五", "六"];                
            var week = new Date().getDay();

            userTpl = userTpl.replace("{{crossingroadName}}",dutyInfo.crName);
            userTpl = userTpl.replace("{{dutyDate}}",dutyInfo.recDate);
            userTpl = userTpl.replace("{{userName}}",userInfo.userName);
            userTpl = userTpl.replace("{{userViewName}}",userInfo.userViewName);
            userTpl = userTpl.replace("{{week}}",a[week]);
            userTpl = userTpl.replace("{{lineName}}",dutyInfo.lineName);
            userTpl = userTpl.replace("{{teamName}}",userInfo.teamName == null ? "":userInfo.teamName);
            userTpl = userTpl.replace("{{tableName}}",dutyInfo.tableName);
            userTpl = userTpl.replace("{{attentime}}",dutyInfo.attentime);
            userTpl = userTpl.replace("{{offtime}}",dutyInfo.offtime);
            userTpl = userTpl.replace("{{dispatchUser}}",dutyInfo.dispatchUser);
            $("#user_Div").append(userTpl);
            $("#miles").val(dutyInfo.miles);
            $("#whours").val(dutyInfo.whours);
        }

        function renderTrainInfo(userInfo,dutyInfo,trainList){
            var trainTpl =  '<div id="main_driver_Div" class="easyui-tabs" style="">'+
                            '    <div style="padding-top:10px">'+
                            '        <table id="main_driver_tb" width="90%" border="0" cellpadding="0" cellspacing="5" style="margin:auto;text-align:center;">'+
                            '            <div id="currDriverType"></div>'+
                            '            <tr id="tr_head" style="font-size: 30px;">'+
                            '                <td class="head" align="center" style="min-width: 80px;width: 12%;">'+
                            '                   <label for="">车次</label>'+
                            '                </td>'+
                            '                <td colspan="2" align="center" class="head" style="min-width: 80px;width: 24%;">'+
                            '                    <label for="">始发站</label>'+
                            '                 </td>'+
                            '                <td class="head" align="center" style="min-width: 80px;width: 12%;">'+
                            '                   <label for="">发车时间</label>'+
                            '                </td>'+
                            '                <td colspan="2" align="center" class="head" style="min-width: 80px;width: 24%;">'+
                            '                    <label for="">终点站</label>'+
                            '                </td>'+
                            '                <td class="head" align="center" style="min-width: 80px;width: 12%;">'+
                            '                   <label for="">到站时间</label>'+
                            '                </td>'+

                            '                <td class="head" style="min-width: 60px;width: 12%;">'+
                            '                   <a class="easyui-linkbutton my-dialog-button" onclick="addObj()"'+
                            '                       plain="true" icon="icon-add" href="javascript:void(0)">添加</a>'+
                            '                   </td>'+
                            '            </tr>'+
                            '           {{list}}'+
                            '        </table>'+
                            '    </div>'+
                            '</div>';


            //var trainArr = dutyInfo.stringruntrain.split("--->");
            var listStr = "";
            //startRunCrossingroad改成0
      if(startRunCrossingroad===null){
        startRunCrossingroad=0
      }
            if(startRunCrossingroad.length >= 0){
                $.each(startRunCrossingroad,function(i,n){
                    var listTpl =   '<tr class="{{itemId}}" name="add_tr">'+
                                    '    <input type="hidden" name="mile" value=""/>'+
                                    '    <td>{{trainName}}</td>'+
                                    '    <td style="width: 120px;">{{start}}</td>'+
                                    '    <td style="text-align: center;" colspan="2">{{depart}}</td>'+
                                    '    <td>{{end}}</td>'+
                                    '    <td style="text-align: center;" colspan="2">{{arrive}}</td>'+
                                    '    <td><a class="easyui-linkbutton my-dialog-button" onclick="delObj(this)"'+
                                    '        plain="true" icon="icon-remove" href="javascript:void(0)">删除</a></td>'+
                                    '</tr>';
                    listIndex = i;
                    listTpl = listTpl.replace("{{itemId}}","item-"+listIndex);
                    
                    var driverDetail = {};
                    $.each(trainList,function(j,m){
                        if(n.train == m.trainId){
                            driverDetail.trainNum = m.trainId;
                            listTpl = listTpl.replace("{{trainName}}",m.trainName);
                            if(m.stationType == 1){
                                listTpl = listTpl.replace("{{start}}",m.stationName);
                                listTpl = listTpl.replace("{{depart}}",timeChange(m.depart));
                                driverDetail.startStation = m.stationId;
                                driverDetail.startTime = m.depart;
                            } else if(m.stationType == 2){
                                listTpl = listTpl.replace("{{end}}",m.stationName);
                                listTpl = listTpl.replace("{{arrive}}",timeChange(m.arrive));
                                driverDetail.endStation = m.stationId;
                                driverDetail.endTime = m.arrive;
                            }
                        }
                    });
                    
                    listStr += listTpl;
                    list["item-"+listIndex] = driverDetail;
                    
                });
            }else{
                listStr = "";
            }
            trainTpl = trainTpl.replace("{{list}}",listStr);
            $("#info_Div").append(trainTpl);
        }

        function getDutyTrain(dutyInfo){ 
            startRunCrossingroad = JSON.parse(dutyInfo.startRunCrossingroad);
            if(startRunCrossingroad===null){
        startRunCrossingroad=0
      }
            if(startRunCrossingroad.length >= 0){
                $.each(startRunCrossingroad,function(i,n){
                    stringRunList += n.train + ",";
                });
                stringRunList = (stringRunList.substring(stringRunList.length - 1) == ",") ? stringRunList.substring(0, stringRunList.length - 1) : stringRunList;
            }
            $.ajax({
                url:"http://nocm.wzmtr.com:2443/zzj/user/orderInit",
                type:"POST",
                // data:JSON.stringify({"stringRunList":stringRunList}),
                data:JSON.stringify({"stringRunList":dutyInfo.startRunCrossingroad}),
                dataType:"json",
                beforeSend: function (request) {
                    request.setRequestHeader("Content-Type", "application/json");
                    request.setRequestHeader("Authorization", userToken);
                },
                success:function (res) {
                    console.log(res);
                    if(res.code == 0){
                      
                        renderTrainInfo(userInfo,dutyInfo,res.data);
                    }else{
                        //$parent.messager.alert('提示', res.message, 'info');
                    }
                    
                },
                error:function () {
                   
                }
            });
        }
        var saveLock = 0;
        function doOrder(){
            orderInfo.date = dutyInfo.recDate;
            orderInfo.userViewName = userInfo.userViewName;
            orderInfo.driverId = userInfo.userName;
            orderInfo.attendTime = dutyInfo.recDate +" "+dutyInfo.attentime;
            orderInfo.offTime = dutyInfo.recDate +" "+dutyInfo.offtime;
            orderInfo.kilometer = $("#miles").val();
            orderInfo.workHour = $("#whours").val();
            orderInfo.schedule = dutyInfo.id;
            driveArr=[],
            $.each(list,function(i,n){
           
              if(!$.isEmptyObject(n)){
                driveArr.push(n);   
              }
                
            })
            orderInfo.list = driveArr;
            console.log(orderInfo.list,'list')

            if(saveLock == 0){
              console.log(JSON.stringify(orderInfo),'list2')
             
                saveLock = 1;
                $.ajax({
                    url:"http://nocm.wzmtr.com:2443/zzj/user/saveOrder",
                      // url: "http://192.168.34.128:9501/zzj/user/saveOrder",
                    type:"POST",
                    data:JSON.stringify(orderInfo),
                    dataType:"json",
                    beforeSend: function (request) {
                        request.setRequestHeader("Content-Type", "application/json");
                        request.setRequestHeader("Authorization", userToken);
                    },
                    success:function (res) {
                        console.log(res)
                        saveLock = 0;
                        if(res.code == 0){
                          if(dutyInfo.isSpecialType===1){
        $.ajax({
                url:"http://nocm.wzmtr.com:2443/zzj/user/dutyOff",
              
                type:"POST",
                data:JSON.stringify({"userId":userInfo.userId,"newSchedulingId":dutyInfo.id}),
                dataType:"json",
                beforeSend: function (request) {
                    request.setRequestHeader("Content-Type", "application/json");
                    request.setRequestHeader("Authorization", userToken);
                },
                success:function (res) {
                    console.log(res)

                    if(res.code == 0){
                  
                        // if(dutyInfo.attendQuitRecord){
                        //     dutyInfo.attendQuitRecord.quitTime = res.data;
                        // }else{
                        //     dutyInfo.attendQuitRecord = {};
                        //     dutyInfo.attendQuitRecord.quitTime = res.data;
                        // }
                        var workRecordQuit = {"workType":"2","actionTime":res.data};
                        dutyInfo.workRecord.push(workRecordQuit);
                        if(dutyInfo.attendQuitRecord == null){
                            dutyInfo.attendQuitRecord = {};
                        }
                        dutyInfo.attendQuitRecord.quitTime = res.data;
                        dutyInfo.quitFlag = 1;
                        setCookie("dutyInfo",JSON.stringify(dutyInfo));
                    //    location.href = "/zzj/off_result.html";
                      
                       
                    }else{
                        $parent.messager.alert('提示', res.message, 'info');
                    }
                    
                },
                error:function () {
                   
                }
            });
      }
                
                        //    location.href = "/zzj/order_result.html";
                           electron.loadPage('./src/order_result.html')
                        }else{
                            //$parent.messager.alert('提示', res.message, 'info');
                            showError();

                        }
                    },
                    error:function () {
                       saveLock = 0;
                    }
                });
            }
            
        }
        function showError(){
            $(".text1").show().delay(2000).hide();
        }
        function initTimePicker(obj){
            var _selector = "."+$(obj).attr("class");
            var mobileSelect3 = new MobileSelect({
                trigger: _selector,
                title: '选择时间',
                wheels: [
                            {data: numArr1},
                            {data: numArr2},
                            {data: numArr2}
                        ],
                position:[0, 0, 0],
                callback:function(indexArr, data){
                    if(data.length>2){
                        $(obj).val(data[0]+data[1]+data[2].replace(":",""));
                    }
                }
            });
        }
        function addObj(){
            var listTpl =   '<tr class="{{itemId}}" name="add_tr">'+
                            '    <td><input type="text" style="text-align: center;width: 200px;" onblur="getStations(this)" data-id="" class="trainnum" /></td>'+
                            '    <td style="width: 120px;"><input class="startStation" onfocus="showList(this)" data-id="" /><div class="station-list"><ul></ul></div></td>'+
                            '    <td style="text-align: center;" colspan="2"><input onfocus="initTimePicker(this)" class="depart" /></td>'+
                            '    <td><input class="endStation" data-id="" onfocus="showList(this)" /><div class="station-list"><ul></ul></div></td>'+
                            '    <td style="text-align: center;" colspan="2"><input onfocus="initTimePicker(this)" class="arrive" /></td>'+
                            '    <td><a class="easyui-linkbutton my-dialog-button" onclick="saveObj(this)" '+
                            '        plain="true" icon="icon-remove" href="javascript:void(0)">保存</a>'+
                            '        <a class="easyui-linkbutton my-dialog-button" onclick="delObj(this)" '+
                            '        plain="true" icon="icon-remove" href="javascript:void(0)">删除</a>'+
                            '    </td>'+
                            '</tr>';
            listIndex = listIndex+1;
            list["item-"+listIndex] = {};
            listTpl = listTpl.replace("{{itemId}}","item-"+listIndex);
            $("#main_driver_tb").append(listTpl);

        }

        function saveObj(obj){
            var driverDetail = {};
            var trainNum = $(obj).parent().parent().find(".trainnum").val();
            var trainId = $(obj).parent().parent().find(".trainnum").attr("data-id");
            var startStationId = $(obj).parent().parent().find(".startStation").attr("data-id");
            var startStationName = $(obj).parent().parent().find(".startStation").val();
            var startTime = $(obj).parent().parent().find(".depart").val();
            var endStationId = $(obj).parent().parent().find(".endStation").attr("data-id");
            var endStationName = $(obj).parent().parent().find(".endStation").val();
            var endTime = $(obj).parent().parent().find(".arrive").val();

            driverDetail.trainNum = trainId * 1;
            //driverDetail.teamId = userInfo.teamId;
            driverDetail.startStation = startStationId * 1;
            driverDetail.startTime = startTime.replaceAll(/:/g,"");
            driverDetail.endStation = endStationId * 1;
            driverDetail.endTime = endTime.replaceAll(/:/g,"");

            var listTpl =   '    <td>{{trainName}}</td>'+
                            '    <td style="width: 120px;">{{start}}</td>'+
                            '    <td style="text-align: center;" colspan="2">{{depart}}</td>'+
                            '    <td>{{end}}</td>'+
                            '    <td style="text-align: center;" colspan="2">{{arrive}}</td>'+
                            '    <td><a class="easyui-linkbutton my-dialog-button" onclick="delObj(this)"'+
                            '        plain="true" icon="icon-remove" href="javascript:void(0)">删除</a></td>';
            listTpl = listTpl.replace("{{trainName}}",trainNum);
            listTpl = listTpl.replace("{{start}}",startStationName);
            listTpl = listTpl.replace("{{depart}}",startTime);
            listTpl = listTpl.replace("{{end}}",endStationName);
            listTpl = listTpl.replace("{{arrive}}",endTime);
            $(obj).parent().parent().html(listTpl);

            list["item-"+listIndex] = driverDetail;
        }
        function delObj(obj){
            var itemIndex =  $(obj).parent().parent().attr("class");
            delete list[itemIndex];
            $(obj).parent().parent().remove();
            console.log("==============");
            console.log(list);
        }
        function getStations(obj){
            var trainNum = $(obj).val();
            $.ajax({
                url:"http://nocm.wzmtr.com:2443/zzj/user/stationList?trainNum="+trainNum,
                type:"GET",
                dataType:"json",
                beforeSend: function (request) {
                    request.setRequestHeader("Content-Type", "application/json");
                    request.setRequestHeader("Authorization", userToken);
                },
                success:function (res) {
                    console.log(res)
                    saveLock = 0;
                    if(res.code == 0){
                       renderStationList(obj,res.data);
                    }
                },
                error:function () {
                   saveLock = 0;
                }
            });
        }
        function renderStationList(obj,data){
            var trainId;
            $(obj).parent().parent().find('.station-list').children('ul').html("");
            $.each(data,function(i,n){
                trainId = n.trainId;
                var li = "<li class='station-item' data-id={{stationId}} title={{title}}>{{stationName}}</li>";
                li = li.replace("{{stationId}}",n.stationId);
                li = li.replace("{{title}}",n.stationName);
                li = li.replace("{{stationName}}",n.stationName);
                $(obj).parent().parent().find('.station-list').children('ul').append(li);
            });
            $(obj).attr("data-id",trainId);
        }
        function showList(obj){
            $(obj).parent().find(".station-list").show();
        }
        function gotoIndex(){
            // location.href = "/zzj/index.html";
            electron.loadPage('./src/index.html')
        }
    </script>
</head>
<body style="">
<div class="zzj_subpage_wrap">
        <div class="top"><div class="top_left">温州市域轨道交通乘务自助终端系统</div></div>
        <div class="subpage_main">
        <div id="zhongxin2" class="zzj_loading" style="display:none"></div>
        <div  id="zhongxin">
        <div class="subpage_main_in">
            <div class="text1" style="display: none;">
                <p class="error-info" style="color:red;">错误信息</p>
            </div>
            <div class="table_box">
                <form method="post" id="onDutyDataForm">
                    <div id="user_Div" style=""></div>
                    <div id="info_Div" style=""></div>
                    <div style="width: 90%;margin: auto;padding-top: 20px;">
                        <label>公里数:</label>
                        <input type="text" name="miles" id="miles" value="">
                        <label>工时:</label>
                        <input type="text" name="whours" id="whours" value="">
                    </div>
                </form>
            </div>
            <div  class="msg" id="msg"></div>
            <div class="btn_box">
                <input type="button" class="btn" id="btn_on" onclick="doOrder()" value="报单">
                <input type="button" class="btn" id="btn_last" onclick="gotoIndex()" value="返回首页"/>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>