<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="ie-stand">
    <style>
        input::-ms-clear { display: none; }
    </style>
    <script type="text/javascript">
    top.fingerprintFlag=false;  
    top.fingerReg=false;
        var ctx = '/zzj';
      try {
        $(function() {
          doFluidLayout();
          $("input").each(function(i){//防止回车提交表单
              $(this).bind("keypress",function(e){
                  if(e.keyCode==13){
                    return false;
                  }
              })
          });
        });
      } catch (e) {
      }
      //con,clearFlag是否清空选项
      function refreshGrid(con, clearFlag) {
        if (!con)
          con = "dataTable";
        try {
          var mfs = document.getElementsByName("mainframe");
          if (mfs.length <= 0)
            mfs = window.parent.document.getElementsByName("mainframe");
          if (mfs.length > 0) {
            $.each(mfs, function(i, mf) {
              if (mf.contentWindow.$) {
                var tempGrid = mf.contentWindow.$("#" + con);
                if($.isFunction(tempGrid.datagrid)){
                    tempGrid.datagrid('reload');
                    if ("undefined"==typeof clearFlag || clearFlag) {
                        tempGrid.datagrid('clearSelections');
                    }
                }
              }
            });
          } else {
            $("#" + con).datagrid('reload');
            $parent("#" + con).datagrid('reload');
            if ("undefined"==typeof clearFlag || clearFlag) {
              $("#" + con).datagrid('clearSelections');
              $parent("#" + con).datagrid('clearSelections');
            }
          }
        } catch (e) {
          var tab = $('#tabs').tabs('getSelected');
          var mfs = $("iframe", tab);
          $.each(mfs, function(i, mf) {
            if (mf.contentWindow.$) {
              mf.contentWindow.$("#" + con).datagrid('reload');
              if ("undefined"==typeof clearFlag || clearFlag) {
                mf.contentWindow.$("#" + con).datagrid('clearSelections');
              }
            }
          });
        }

      } 
    </script>
    <!-- some css fix -->
    <!--[if gte IE 8]>
    <style type="text/css">
    .leftmenu dd span{
        float:none;
    }
    .leftmenu .title{
        height:35px;
    }
    </style> 
    <![endif]-->

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="./static/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="./static/css/my97.css">
    <link rel="stylesheet" type="text/css" href="./static/css/icon.css">
    <script type="text/javascript" src="./static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="./static/js/jquery.easyui.min.js"></script>
    <link rel="stylesheet" href="./static/css/default.css">
    <script type="text/javascript" src="./static/js/artDialog.source.js"></script>
    <script type="text/javascript" src="./static/js/iframeTools.source.js"></script>
    <script type="text/javascript" src="./static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="./static/js/extends.js"></script>
    <script type="text/javascript" src="./static/js/common.js"></script>
    <script type="text/javascript" src="./static/js/cross_browser_fix.js"></script>
    <script type="text/javascript" src="./static/js/global.js"></script>
    <title>三交三问</title>
    <link href="./static/css/zzj_css.css" rel="stylesheet" type="text/css">
    <link href="./static/css/ExamUI.css" type="text/css" rel="stylesheet">
    <script>
        checkToken();
        var userToken = getCookie("userToken");
        var userInfo;
        userInfo = JSON.parse(getCookie("userInfo"));
        var correct_count = 0;
        var exam_count = 5;
        var exam_list = [];
        var exam_answer = [];
        var exam_correct = [];
        $(document).ready(function() {
            getExamList();
            $("#a1").click(function() {
                if ($(".showQuestion").find("input[name='page']").val() == "1") {
                    alert("已经是第一题！！");
                    return;
                }
                var prevShow = $(".showQuestion").prev();
                $(".oneQuestion").removeClass("showQuestion").addClass("hideQuestion");
                prevShow.removeClass("hideQuestion").addClass("showQuestion");
                select(prevShow.find("input[name='page']").val());
            });

            $("#a2").click(function() {
                if ($(".showQuestion").find("input[name='page']").val() == "5") {
                    alert("已经是最后一题！请点击提交！");
                    return;
                }
                var nextShow = $(".showQuestion").next();
                $(".oneQuestion").removeClass("showQuestion").addClass("hideQuestion");
                nextShow.removeClass("hideQuestion").addClass("showQuestion");
                select(nextShow.find("input[name='page']").val());
            });

            $("#td_0").css({
                "background": "#42d5ca",
                "width": "200px"
            });
            
        });

        $(document).on("click", ".option", function(){ 
            var answer_val = $(this).parent().parent().parent().parent().parent().find("input[name='answer']").val();
            var data_id = $(this).parent().parent().parent().parent().parent().attr("data-id");
            if (answer_val.indexOf($(this).attr("title")) === -1) { //判断选项是否已被选中
                $(this).css({"background": "#45aefc", "color": "#FFFFFF"});
                answer_val += $(this).attr("title");
            }else {
                $(this).css({"background": "none", "color": "#000000"});
                answer_val = answer_val.replace($(this).attr("title"), "");
            }
            exam_answer[data_id] = answer_val;
            $(this).parent().parent().parent().parent().parent().find("input[name='answer']").val(answer_val);
        });

        function getExamList(){
            $.ajax({
                    url:"/zzj/user/examList",
                    type:"GET",
                    dataType:"json",
                    beforeSend: function (request) {
                        request.setRequestHeader("Content-Type", "application/json");
                        request.setRequestHeader("Authorization", userToken);
                    },
                    success:function (res) {
                        console.log(res)
                        if(res.code == 0){
                            examList = res.data;
                            renderExam(examList);
                        }else{
                            console.log("error")
                        }
                    },
                    error:function () {
                       console.log("...")
                       location.href = "/zzj/index.html";
                    }
            });
        }

        function renderExam(examList){
            $.each(examList,function(i,n){
                var table_tpl = '<table id="tab_{{examId}}">'+
                                '    <tr>'+
                                '        <td class="tdPage" id="td_{{i}}" onclick="gotopage({{j}})">第{{j}}题</td>'+
                                '    </tr>'+
                                '</table>';
                var exam_tpl =  '<div id="extam-{{examId}}" data-id="{{i}}" class="oneQuestion showQuestion">'+
                                '        <div id="div_question" align="left">'+
                                '            <span id="span_content">{{examText}}</span>'+
                                '        </div>'+
                                '        <div id="div_answer">'+
                                '            <table id="table_answer" cellpadding="0" cellspacing="5">'+
                                '                    {{n}}'+
                                '            </table>'+
                                '            <div><input type="hidden" name="page" value="{{j}}"/></div>'+
                                '            <div><input type="hidden" name="answer" value=""/></div>'+
                                '        </div>'+
                                '</div>';
                //TODO
                table_tpl = table_tpl.replace("{{examId}}",n.examId);
                exam_tpl = exam_tpl.replace("{{examId}}",n.examId);
                table_tpl = table_tpl.replace("{{i}}",i);
                while(table_tpl.indexOf("{{j}}") != -1){
                    table_tpl = table_tpl.replace("{{j}}",i+1);
                }
                exam_tpl = exam_tpl.replace("{{i}}",i);
                exam_tpl = exam_tpl.replace("{{j}}",i+1);
                exam_tpl = exam_tpl.replace("{{examText}}",n.examText);
                //<tr><td class="option" id="ans_{{O}}" title="{{O}}">{{O}}：{{option}}</td></tr>
                var option_html = "";
                if(n.optionA != null && n.optionA != ""){
                    option_html += '<tr><td class="option" id="ans_A" title="A">A：{{option}}</td></tr>';
                    option_html = option_html.replace("{{option}}",n.optionA);
                }
                if(n.optionB != null && n.optionB != ""){
                    option_html += '<tr><td class="option" id="ans_B" title="B">B：{{option}}</td></tr>';
                    option_html = option_html.replace("{{option}}",n.optionB);
                }
                if(n.optionC != null && n.optionC != ""){
                    option_html += '<tr><td class="option" id="ans_C" title="C">C：{{option}}</td></tr>';
                    option_html = option_html.replace("{{option}}",n.optionC);
                }
                if(n.optionD != null && n.optionD != ""){
                    option_html += '<tr><td class="option" id="ans_D" title="D">D：{{option}}</td></tr>';
                    option_html = option_html.replace("{{option}}",n.optionD);
                }
                if(n.optionE != null && n.optionE != ""){
                    option_html += '<tr><td class="option" id="ans_E" title="E">E：{{option}}</td></tr>';
                    option_html = option_html.replace("{{option}}",n.optionE);
                }
                if(n.optionF != null && n.optionF != ""){
                    option_html += '<tr><td class="option" id="ans_F" title="F">F：{{option}}</td></tr>';
                    option_html = option_html.replace("{{option}}",n.optionF);
                }
                exam_tpl = exam_tpl.replace("{{n}}",option_html);
                $("#div_left_forExam").append(table_tpl);
                $("#div_middle").append(exam_tpl);
                exam_list.push(n.examId);
                exam_answer.push("");
                exam_correct.push(n.answerCorrect);

            });
            $("#td_0").trigger("click");//选中第一题
        }

        function next() {
            if ($(".showQuestion").find("input[name='page']").val() == "") {
                alert("已经是最后一题！请点击提交！");
                return;
            }
            var nextShow = $(".showQuestion").next();
            $(".oneQuestion").removeClass("showQuestion").addClass("hideQuestion");
            nextShow.removeClass("hideQuestion").addClass("showQuestion");
            select(nextShow.find("input[name='page']").val());
        }

        function last() {
            if ($(".showQuestion").find("input[name='page']").val() == 1) {
                alert("已经是第一题！！");
                return;
            }
            var prevShow = $(".showQuestion").prev();
            $(".oneQuestion").removeClass("showQuestion").addClass("hideQuestion");
            prevShow.removeClass("hideQuestion").addClass("showQuestion");
            select(prevShow.find("input[name='page']").val());

        }

        function gotopage($page) {
            select($page);
            var showQuestion = $(".oneQuestion").eq($page - 1);
            $(".oneQuestion").removeClass("showQuestion").addClass("hideQuestion");
            showQuestion.removeClass("hideQuestion").addClass("showQuestion");
        }

        function select($page) {

            $(".tdPage").css({"background": "#808080", "width": "150px"});
            $("#td_" + ($page - 1)).css({
                "background": "#42d5ca",
                "width": "200px"
            });
        }
        function gotoIndex(){
            location.href = "/zzj/index.html";
        }


        window.history.forward(1);
        var saveLock = 0;
        function save() {
            if(saveLock == 0){
                $.each(exam_answer,function(i,n){
                    console.log(i);
                    console.log(n);
                    if(n == ""){
                        $parent.messager.alert('提示', '本次考试还有题目未作答！', 'info');
                        saveLock = 1;
                        return;   
                    }
                });
                $.ajax({
                        url:"/zzj/user/examSave",
                        type:"POST",
                        data:JSON.stringify({"examList":exam_list,"examAnswer":exam_answer,"examCorrect":exam_correct}),
                        dataType:"json",
                        beforeSend: function (request) {
                            request.setRequestHeader("Content-Type", "application/json");
                            request.setRequestHeader("Authorization", userToken);
                        },
                        success:function (res) {
                            console.log(res)

                            if(res.code == 0){
                                if( res.data.reCountError > 0 ){
                                   //未通过
                                    $parent.messager.confirm('考试结果', "本次考试共有"+ (res.data.reCount) +"道题，您有" + (res.data.reCountError) + "道题错误！重考一次？", function(r) {
                                            if (r) {
                                                location.reload();
                                            }else{
                                                location.href = "/zzj/index.html";
                                            }
                                        });
                                } else {
                                    $parent.messager.alert("考试结果", "正确率100%,您已通过本次考试！");
                                    location.href = "/zzj/index.html";
                                }
                            }else{
                                $parent.messager.alert('提示', res.message, 'info');
                                location.reload();
                            }
                            saveLock = 1;
                        },
                        error:function () {
                           saveLock = 1;
                        }
                });
            }
        }
    </script>
    <style>
        .showQuestion {

        }

        .hideQuestion {
            display: none;
        }
    </style>
</head>
<body style="">
<form method="post" id="answerForm">
<div class="zzj_subpage_wrap">
        <div class="top"><div class="top_left">温州市域轨道交通乘务自助终端系统</div></div>
        <div class="subpage_main">

            <div id="no_exam" class="subpage_main_in" style="display:none;">
                <div class="text1">
                    <p>该员工无需三交三问！</p>
                </div>
                <div class="btn_box">
                    <input type="button" class="btn" style="width: 223px;" onclick="gotoIndex()" value="返回首页">
                </div>
            </div>
            <div id="have_exam" class="subpage_main_in">
                <div class="text1">
                    <p><img src="./static/images/examination/title_img.png" width="70px;" height="50px;">三交三问考试</p>
                </div>
                <div id="div_left_forExam" align="center">
                </div>
                <div id="div_right_forExam" align="center">
                    <div id="div_prev"><a id="a1" class="check-button-prev"></a></div>
                    <div id="div_middle">

                    </div>
                    <div id="div_next"><a id="a2" class="check-button-next"></a></div>
                </div>

                <div class="btn_box">
                    <input type="button" class="btn" onclick="save()" value="提交" style="width: 223px;"/>
                    <input type="button" class="btn" id="btn_last" style="width: 223px;" onclick="gotoIndex()" onclick="" value="返回首页"/>
                </div>
                <div><input type="text" id="temporaryID" name="temporaryID" value="" class="input_hidden"></div>
                <div><input type="text" id="status" name="status" value="" class="input_hidden"></div>
                <div><input type="text" id="count" name="count" value="" class="input_hidden"></div>
            </div>
        </div>
</div>
</form>



</body>
</html>